<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis pedidos</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <header class="main-header">
        <h1 class="logo" onclick="window.location.href='/products.html'">AliYon Shop</h1>

        <button class="cart-button" onclick="window.location.href='/cart.html'">
            🛒 <span id="cart-count">0</span>
        </button>
    </header>

    <div class="orders-container">
        <h1>📦 Mis pedidos</h1>

        <div id="orders-list"></div>
    </div>

    <script src="/static/js/header.js"></script>
    <script src="/static/js/orders.js"></script>

</body>
</html>
